doctype html
html
    head
        title Dramascreen Client
        script(src='//code.jquery.com/jquery-2.1.4.min.js')
        script(src='/javascripts/client.js')
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    body
        .container
            .page-header
                h1 Dramascreen API Client

            .row
                .col-md-6
                    form
                        .form-group
                            label(for="level") Level
                            select.form-control#level
                                option info
                                option notice
                                option warning
                                option error
                        .form-group
                            label(for="title") Title
                            input.form-control#title

                        .form-group
                            label(for="message") Title
                            textarea.form-control#message

                        button.btn.btn-default(id="send") Send
                .col-md-6
                    #screen.well(style="height: 276px; overflow: auto;")
