doctype html
html
    head
        link(href='https://fonts.googleapis.com/css?family=Fjalla+One', rel='stylesheet', type='text/css')
        if theme === 'light'
            link(rel='stylesheet', href='/stylesheets/light.css')
        else
            link(rel='stylesheet', href='/stylesheets/style.css')
        title Dramascreen
        script(src="/socket.io/socket.io.js")
        script(src='//code.jquery.com/jquery-2.1.4.min.js')
        script(src='/javascripts/main.js')
    body.mouseHidden
        #screen
            .front
                .timeBlock
                    .time
                    .date
            .back
                h1.title SOME HORRIBLE THING HAPPENED
                .message All Things are fucked up
            .back-video
                iframe(id="player" src="https://www.youtube.com/embed/?autoplay=1&controls=0&enablejsapi=1&modestbranding=1&showinfo=0&rel=0")