doctype html
html
    head
        link(href='https://fonts.googleapis.com/css?family=Fjalla+One', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Dramascreen
        script(src="/socket.io/socket.io.js")
        script(src='//code.jquery.com/jquery-2.1.4.min.js')
        script(src='/javascripts/main.js')
    body
        #screen
            .front
                .timeBlock
                    .time
                    .date
            .back
                h1.title SOME HORRIBLE THING HAPPENED
                .message All Things are fucked up
