body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    color: white;
    background-color: black;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    cursor: none;
}

h1 {
    font-size: 10vw;
}

.message {
    font-size: 5vw;
}

body {
    perspective: 1000;
}

#screen {
    transition: 3s;
    transform-style: preserve-3d;
    position: relative;
}

#screen.notice, #screen.warning {
    transition: 0.5s;
}

#screen, .front, .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front, .back {
    position: absolute;
}

#screen.flipped {
    transform: rotateY(180deg);
}

.front {
    background-color: black;
    z-index: 2;
    display: table-cell;
    vertical-align: middle;
}

.time {
    display: inline-block;
    font-size: 30vw;
}

.date {
    font-size: 5vw;
    margin-top: -5vw;
}

.timeBlock {
    margin-top: -5vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.back {
    transform: rotateY(180deg);
    box-shadow: inset 0 0 20vw 10vw rgba(0,0,0,0.2);
}

.error .back{
    background-color: #7b0000;
}

.notice .back {
    background-color: #007b00;
}

.warning .back {
    background-color: rgb(189, 97, 0);
}

.info .back {
    background-color: #00007b;
}
